<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">Inicio de sesion</h1>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center" >
        <ion-input type="text" placeholder="nombre de usuario"  [(ngModel)]="nombre" ></ion-input>
        
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-input type="password" placeholder="contraseña" [(ngModel)]="clave" ></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="validar()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-row>
      <ion-col class="ion-text-center">
        <a href="recuperar">Olvidaste tu contraseña?</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
