<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">Recuperar contraseña</h1>
  <p class="margen-p">Ingrese su nombre de usuario para recuperar contraseña.</p>
  <ion-grid fixed>
    <ion-row>
      
      <ion-col class="ion-text-center">
        <input type="text">
      </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="warning">Recuperar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
