<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">Bienvenido</h1>
  <h2 class="ion-text-center">{{ getUsuario() }}</h2>

  
  
 
      
     
  
</ion-content>

<ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="cerrarSesion()" color="danger">Cerrar Sesion</ion-button>
      </ion-col>
      </ion-row>
  </ion-grid>
  
</ion-footer>


