<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="inicio-alumnos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1 class="ion-text-center">Leer qr</h1>

  <video id="video"></video>
<ion-button (click)="iniciarCamara()">Iniciar Escaner</ion-button>


<ion-button (click)="mostrarDatos()" >Ver asistencias

</ion-button>

<ion-text color="primary" *ngIf="permitir && true; else noHayDatos">
<h1 class="ion-text-center"></h1>
<ion-item *ngFor="let asistencia of asistencias">
  <ion-card style="width: 100%; display: block;">
    <ion-card-header>
      <ion-card-title>{{asistencia.asignatura}}</ion-card-title>
      <ion-card-subtitle>{{asistencia.seccion}}</ion-card-subtitle>
      <ion-card-subtitle>{{asistencia.nombreAlumno}}</ion-card-subtitle>
      <ion-card-subtitle>{{asistencia.fecha}}</ion-card-subtitle>
      <ion-card-subtitle>{{asistencia.hora}}</ion-card-subtitle>
    </ion-card-header>
</ion-card>
</ion-item>
</ion-text>
<ng-template #noHayDatos>
<ion-text color="danger" class="ion-text-center">
</ion-text>
</ng-template>

</ion-content>
